# Python virtual environments
chat4ba/env/
venv/
env/
ENV/

# Python cache files
__pycache__/
*.py[cod]
*$py.class
chat4ba/backend/__pycache__/
*.so

# Distribution / packaging
dist/
build/
*.egg-info/

# Local development settings
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db

chat4ba/.env
chat4ba/backend/services/.env